.eventos {
  height: 460px;
  margin: 0 auto;
  background-image: url("../image/fotoocho.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-noticia h1,
.container-noticia p {
  color: #fff;
}

.container-noticia p {
  padding: 0.5rem 0;
}

/* Estilos para el contenedor con fondo transparente */

.container-noticia {
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 1.5rem auto;
}

@media screen and (max-width: 991px) {
  .container-noticia {
    width: 100%;
  }
}

.container-noticia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.container-texto-noticia {
  position: relative;
  max-width: 100%;
  padding: 1rem;
}
