.eventos {
  height: 460px;
  margin: 0 auto;
  background-image: url("../image/fotoocho.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*opacity: 1;*/
  opacity: 0.5;
}

.h1-eventos {
  margin-left: 30px;
  color: rgb(252, 250, 250);
  font-size: 30px;
  line-height: 80px;
  text-shadow: #fff;
}

.h2 {
  color: rgb(253, 253, 253);
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: x-large;
}

.fechas {
  color: rgb(250, 250, 250);
  margin-bottom: 20px;
  font-size: xx-large;
  text-align: center;
  border-color: black;
  flex-wrap: wrap;
}

.text-borde {
  -webkit-text-stroke: 1.5px rgb(12, 12, 12);
  color: rgb(248, 246, 246);
}

.p-fechas {
  display: block;
  font-size: x-large;
  /*text-align: justify;*/
  -webkit-text-stroke: 1px rgb(10, 0, 0);
  color: rgb(10, 0, 0);
}
